/* OBJETIVO */
.objetivo {
    text-align: center;
    padding: 60px 20px 30px;
}

.objetivo h2 {
    color: #ff8c00;
    margin-bottom: 15px;
}

.objetivo p {
    max-width: 650px;
    margin: 0 auto;
    color: #ccc;
    font-size: 14px;
    line-height: 1.6;
}
